@model IEnumerable<TrashProject.Models.Customer>

@{
    ViewBag.Title = "WeeklyPickUp";
}

<h2>WeeklyPickUp</h2>
table id="customers"class="table table-bordered table-hover table-responsive table-striped">
<thead>
    <tr>
        <th>Customer</th>
        <th>Address</th>
        <th>Weekly Pick-Up</th>
    </tr>
</thead>
@foreach (var customer in Model)
{
    <tr>
        <td>@customer.NameFirstLast</td>
        <td>
            @customer.Address<br />
         
        </td>
        <td>@customer.WeeklyPickupDay.</td>
    </tr>
}
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#customers").DataTable();
        })
    </script>
}


